body {
  background-image: url("https://images.unsplash.com/photo-1569701813229-33284b643e3c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80");
  font-family: sans-serif;
}

h1 {
    padding: 10px;
    text-align: left;
}

h4 {
  text-align: center;
}

p {
  margin: 10px;
}

#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
    background-color: whitesmoke;
  }
  
  @media screen and (min-width: 400px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 800px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }